<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garbage.classify.dao.TmRedPackageMapper">
  <resultMap id="BaseResultMap" type="com.garbage.classify.model.po.TmRedPackage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="package_price" jdbcType="DECIMAL" property="packagePrice" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, package_name, user_uuid, expire_time, package_price, create_by, create_date, 
    update_by, update_date, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tm_red_package
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.garbage.classify.model.po.TmRedPackage">
    insert into tm_red_package (id, package_name, user_uuid, 
      expire_time, package_price, create_by, 
      create_date, update_by, update_date, 
      is_del)
    values (#{id,jdbcType=BIGINT}, #{packageName,jdbcType=VARCHAR}, #{userUuid,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{packagePrice,jdbcType=DECIMAL}, #{createBy,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.garbage.classify.model.po.TmRedPackage">
    insert into tm_red_package
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="userUuid != null">
        user_uuid,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="packagePrice != null">
        package_price,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="userUuid != null">
        #{userUuid,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="packagePrice != null">
        #{packagePrice,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.garbage.classify.model.po.TmRedPackage">
    update tm_red_package
    <set>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="userUuid != null">
        user_uuid = #{userUuid,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="packagePrice != null">
        package_price = #{packagePrice,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.garbage.classify.model.po.TmRedPackage">
    update tm_red_package
    set package_name = #{packageName,jdbcType=VARCHAR},
      user_uuid = #{userUuid,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      package_price = #{packagePrice,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectRedPacketCountByUuid" resultType="Integer">
    SELECT COUNT(1) FROM `tm_red_package` a WHERE a.`is_del`=0 AND a.`expire_time` &gt; NOW()
  </select>
</mapper>